<IfModule mod_rewrite.c>
    RewriteEngine On
    Options +FollowSymLinks

    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-z0-9_-]+)/([a-z0-9_-]+)$ index.php?module=$1&do=$2 [L,NC,QSA]
</IfModule>
