{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('security', 'login') }}" method="post">
        <div>
            <label>Email</label>
            {{ form_input(loginForm.get('email')) }}
        </div>
        <div>
            <label>Password</label>
            {{ form_input(loginForm.get('plainPassword')) }}
        </div>
        <div>
            <label>{{ form_input(loginForm.get('rememberMe')) }} Remember me</label>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
{% endblock %}